/*
 * Project: blog
 * File Created: Saturday, 4th August 2018 12:31:21 pm
 * Author: Ice-Hazymoon (imiku.me@gmail.com)
 * -----
 * Last Modified: Tuesday, 7th August 2018 6:35:19 pm
 */

@import "~vue-material/dist/theme/engine"; // Import the theme engine
@include md-register-theme("default-dark", ( primary: md-get-palette-color(blue, A200), // The primary color of your application
accent: md-get-palette-color(red, A200), // The accent or secondary color
text: #fff, theme: dark));
@import "~vue-material/dist/theme/all";
.md-theme-default-dark {
    body{
        background-color: #303030;
    }
    .owo{
        .md-tabs-navigation{
            padding: 0 !important;
        }
        .md-content{
            background-color: #303030 !important;
        }
        .owobtn{
            background-color: #424242 !important;
        }
    }
    .md-app {
        background-color: #303030 !important;
        .md-drawer,
        .md-list,
        .md-content{
            background-color: #303030 !important;
        }
    }
    #appbar {
        background-color: #303030 !important;
    }
    .qrcode ul {
        background-color: #fff !important;
        color: #000;
    }
    #appbar {
        .title,
        .sub-title {
            color: #fff;
        }
        .search {
            background-color: #424242;
            input {
                color: #ffffff;
            }
        }
    }
    #sidebar {
        .md-list-item-text {
            color: #fff;
        }
        .info span {
            color: #fff;
        }
        .copy {
            color: #7d7d7d;
        }
        .links {
            border-color: rgba(255, 255, 255, 0.12);
        }
    }
    #posts,
    #content {
        .comment,
        .comment-list-open,
        .comment-list {
            background-color: #424242;
            border-color: rgba(255, 255, 255, .12);
        }
        .status {
            border-color: rgba(255, 255, 255, .12);
        }
        .comment textarea {
            color: #fff;
        }
        .md-card-actions,
        .t .toolsbar {
            button {
                background-color: #3c3c3c;
                &.liked {
                    background-color: #ff5252;
                    &:hover {
                        background-color: #ff2929;
                    }
                }
                i {
                    color: #fff;
                }
                &:hover {
                    background-color: #595959;
                }
            }
        }
    }
    .md-content {
        .title {
            color: #fff;
        }
    }
    .md-tooltip {
        background-color: #5c5c5c;
        color: #fff;
    }
    .neko-typo {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: normal;
            color: #fff;
            margin: 20px 0;
        }
    }
    #links{
        .title{
            color: #fff;
        }
        li{
            background-color: #424242;
            .description{
                color: #fff;
            }
        }
    }
}
